body {
    background-color: #EDA909;
    background-image: url("../images/background_texture.png");
    background-attachment: fixed;
}

.container {
    margin: auto;
    max-width: 700px;
    font-family: 'Trebuchet MS';
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    margin: 3rem 0;
}

